/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

/* 
* css by Deffelovers (‎19 ‎Juli ‎2021)
*/

/* remove list style */
li{
    list-style: none;
}

/* hide scrollbar */
::-webkit-scrollbar {
    display: none;
}

/* Animeation */
body{
    -webkit-animation: fade .5s ease-in-out;
            animation: fade .5s ease-in-out;
}
@-webkit-keyframes fade{
    0%{
        opacity: 0;
    }
}
@keyframes fade{
    0%{
        opacity: 0;
    }
}

/* font size 15px */
li a.f-15{
    font-size: 15px;
}

/* navbar */
.myNav li{
    margin: 0 10px;
    padding: 0 5px;
}
.myNav li a{
    color: #000000;
    border-radius: 5px;
    border: 0.5px solid #fff;
    -webkit-transition: 100ms ease-in-out;
    -o-transition: 100ms ease-in-out;
    transition: 100ms ease-in-out;
}
.myNav li a:hover{
    border-radius: 5px;
    color: #1e90ff;
    border: 0.5px solid #1e90ff;
    -webkit-box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.145)!important;
            box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.145)!important;
}
.myNav li a:active{
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
    background-color: #f5f5f5;
}
.myBar{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 100ms ease-out;
    -o-transition: 100ms ease-out;
    transition: 100ms ease-out;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
@media screen and (max-width: 990px) {
    .myBar{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-top: 25px;
        list-style: none;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
    }
}

ul li a.active{
    border-radius: 5px;
    color: #1e90ff;
    border: 0.5px solid #1e90ff;
}

/* procfile style*/
.prof{
    width: 150px;
    margin-bottom: 10px;
}
@media screen and (max-width: 990px) {
    .prof{
        width: 120px;
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 425px) {
    .prof{
        width: 95px;
        margin-bottom: 5px;
    }
}

/* Background size */
.hero-ctn{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.hero-ctn h4{
    font-size: 25px;
}
.hero-ctn li{
    font-size: 18px;
    list-style: none;
}
@media screen and (max-width: 990px) {
    .hero-ctn h4{
        font-size: 20px;
    }
    .hero-ctn li{
        font-size: 15px;
        list-style: none;
    }
}
@media screen and (max-width: 425px) {
    .hero-ctn h4{
        font-size: 18px;
    }
    .hero-ctn li{
        font-size: 10px;
        list-style: none;
    }
}

/* background procfile */
/* Home */
.col div#home{
    height: 25rem;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/config/media/bg/bg-3-blured.jpg');
}
@media screen and (max-width: 990px) {
    .col div#home{
        height: 15rem;
        border-radius: 5px;
        background-size: 50rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-3-blured.jpg');
    }
}
@media screen and (max-width: 425px) {
    .col div#home{
        height: 12rem;
        border-radius: 5px;
        background-size: 55rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-3-blured.jpg');
    }
}

/* Tools */
.col div#tools{
    height: 25rem;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/config/media/bg/bg-2-blured.jpg');
}
@media screen and (max-width: 990px) {
    .col div#tools{
        height: 15rem;
        border-radius: 5px;
        background-size: 50rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-2-blured.jpg');
    }
}
@media screen and (max-width: 425px) {
    .col div#tools{
        height: 12rem;
        border-radius: 5px;
        background-size: 55rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-2-blured.jpg');
    }
}

/* Projects */
.col div#projects{
    height: 25rem;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/config/media/bg/bg-4-blured.jpg');
}
@media screen and (max-width: 990px) {
    .col div#projects{
        height: 15rem;
        border-radius: 5px;
        background-size: 50rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-4-blured.jpg');
    }
}
@media screen and (max-width: 425px) {
    .col div#projects{
        height: 12rem;
        border-radius: 5px;
        background-size: 55rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-4-blured.jpg');
    }
}

/* MyAnimeList */
.col div#mal{
    height: 25rem;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('/config/media/bg/bg-5-blured.jpg');
}
@media screen and (max-width: 990px) {
    .col div#mal{
        height: 15rem;
        border-radius: 5px;
        background-size: 50rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-5-blured.jpg');
    }
}
@media screen and (max-width: 425px) {
    .col div#mal{
        height: 12rem;
        border-radius: 5px;
        background-size: 55rem;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('/config/media/bg/bg-5-blured.jpg');
    }
}

/* footer */
.cl-fo{
    padding: 20px 0;
}

/* Tools style */
.cr-bd{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem 0;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
@media screen and (max-width: 990px) {
    .cr-bd{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        padding: 1rem 0;
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

.cd-ct{
    width: 140px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.cd-ct img{
    margin-bottom: 10px;
    height: 140px;
}
.cd-ct .cl-row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    }
    
#ttl{
    font-size: 14px;
}

.col .my-card{
    font-size: 12px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    -webkit-transition: 350ms ease-in-out;
    -o-transition: 350ms ease-in-out;
    transition: 350ms ease-in-out;
    background-color: #000000c9;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
}
@media screen and (max-width: 990px) {
    .col .my-card{
        font-size: 18px;
    }
    #ttl{
        font-size: 24px;
    }
}
.col .view:hover .my-card{
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}