<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
  <script src="/config/jquery/jquery-3.6.0.min.js"></script>
</head>
<body>
  <table class="list-table"><tbody><tr class="list-table-header"><th class="header-title status"></th><th class="header-title number">#</th><th class="header-title image"><a class="link hover_info">Image</a></th><th class="header-title title"><a href="https://myanimelist.net/animelist/Deffelovers_?status=7&amp;order=1&amp;order2=0" class="link sort">
    Anime Title
              </a></th><th class="header-title score"><a href="https://myanimelist.net/animelist/Deffelovers_?status=7&amp;order=4&amp;order2=0" class="link sort">
    Score
              </a></th><th class="header-title type"><a href="https://myanimelist.net/animelist/Deffelovers_?status=7&amp;order=6&amp;order2=0" class="link sort">
    Type
              </a></th><th class="header-title progress"><a href="https://myanimelist.net/animelist/Deffelovers_?status=7&amp;order=12&amp;order2=0" class="link sort">
    Progress
              </a></th><th class="header-title tags">
  Tags
          </th></tr></tbody> <tbody class="list-item"><tr class="list-table-data"><td class="data status watching"></td> <td class="data number">1</td> <td class="data image"><a href="/anime/39292/Princess_Connect_Re_Dive" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1810/106070.webp?s=248a5aeaeb75e77f20bf74753ea1e71f" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/39292/Princess_Connect_Re_Dive" class="link sort">Princess Connect! Re:Dive</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/39292/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-na">
      -
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-39292"><span><a href="#" class="link">3</a> <!---->
      /
    </span> <span>13</span> <a href="#" class="icon-add-episode"><i class="fa fa-plus-circle"></i></a></div></td> <td id="tags-39292" class="data tags"><div class="tags-39292"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-39292" class="more-info" style="display: none;"><td colspan="8" class="more-content">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tbody><tr><td class="td1 borderRBL"><div style="margin-bottom: 3px;"><a href="/forum/?animeid=39292" target="_blank">Discuss Anime</a></div>
                <span title="Anime Database Rating">Rating: PG-13 - Teens 13 or older</span> (<a href="javascript:void(0);" onclick="window.open('/info.php?go=mpaa','bbcode','menubar=no,scrollbars=yes,status=no,width=350,height=250');return false;">Why?</a>)<br>Storage:  None<br>Rewatch Value: &nbsp;<br>Retail Disks: <br>Start Date: 
        <br>
        End Date: Apr  28, 2020<br>
                 Days Since Started Watching: <br>
                 Last Updated: 
                 07-24-21
                <br>
                Time Spent Watching: 
                1 hour, 11 minutes, and 0 seconds <small>(0 hours, 23 minutes, and 40 seconds per episode)</small><br>
                Comments: &nbsp;<br></td>
                </tr>
                </tbody></table>
        </td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">2</td> <td class="data image"><a href="/anime/40148/22_7" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1485/108385.webp?s=0291aeddc03f20781feb0daad26d470a" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/40148/22_7" class="link sort">22/7</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/40148/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-40148"><!----> <span>12</span> <!----></div></td> <td id="tags-40148" class="data tags"><div class="tags-40148"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-40148" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">3</td> <td class="data image"><a href="/anime/6547/Angel_Beats" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1244/111115.webp?s=27d4cc2cdf760c46304e854d6528d611" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/6547/Angel_Beats" class="link sort">Angel Beats!</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/6547/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-6547"><!----> <span>13</span> <!----></div></td> <td id="tags-6547" class="data tags"><div class="tags-6547"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-6547" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">4</td> <td class="data image"><a href="/anime/9989/Ano_Hi_Mita_Hana_no_Namae_wo_Bokutachi_wa_Mada_Shiranai" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/5/79697.webp?s=06c13364cce0a2c2d35782975af06cd1" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/9989/Ano_Hi_Mita_Hana_no_Namae_wo_Bokutachi_wa_Mada_Shiranai" class="link sort">Ano Hi Mita Hana no Namae wo Bokutachi wa Mada Shiranai.</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/9989/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-9989"><!----> <span>11</span> <!----></div></td> <td id="tags-9989" class="data tags"><div class="tags-9989"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-9989" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">5</td> <td class="data image"><a href="/anime/11111/Another" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/4/75509.webp?s=0771b66559b2db80c9944dc272adf0a8" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/11111/Another" class="link sort">Another</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/11111/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-7">
      7
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-11111"><!----> <span>12</span> <!----></div></td> <td id="tags-11111" class="data tags"><div class="tags-11111"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-11111" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">6</td> <td class="data image"><a href="/anime/1689/Byousoku_5_Centimeter" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/10/79674.webp?s=2e5bab9e37b4ffe4a4cb0de2918d82bf" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/1689/Byousoku_5_Centimeter" class="link sort">Byousoku 5 Centimeter</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/1689/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-1689"><!----> <span>3</span> <!----></div></td> <td id="tags-1689" class="data tags"><div class="tags-1689"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-1689" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">7</td> <td class="data image"><a href="/anime/28999/Charlotte" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/12/74683.webp?s=440d34cced716170edaad818c8448e77" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/28999/Charlotte" class="link sort">Charlotte</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/28999/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-28999"><!----> <span>13</span> <!----></div></td> <td id="tags-28999" class="data tags"><div class="tags-28999"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-28999" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">8</td> <td class="data image"><a href="/anime/11843/Danshi_Koukousei_no_Nichijou" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/3/33257.webp?s=5e4ebc24d3df7186b77f9d8d21dff193" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/11843/Danshi_Koukousei_no_Nichijou" class="link sort">Danshi Koukousei no Nichijou</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/11843/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-11843"><!----> <span>12</span> <!----></div></td> <td id="tags-11843" class="data tags"><div class="tags-11843"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-11843" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">9</td> <td class="data image"><a href="/anime/35849/Darling_in_the_FranXX" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1614/90408.webp?s=a7ceb4b43a72bc4c5b2f3c0510adba4e" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/35849/Darling_in_the_FranXX" class="link sort">Darling in the FranXX</a> <a href="/anime/35849/Darling_in_the_FranXX/video" title="Watch Episode Video" class="icon-watch ml4">Watch Episode Video</a> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/35849/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-35849"><!----> <span>24</span> <!----></div></td> <td id="tags-35849" class="data tags"><div class="tags-35849"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-35849" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">10</td> <td class="data image"><a href="/anime/15583/Date_A_Live" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/13/44844.webp?s=005e5c954969de54f13f4ed1f51c0138" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/15583/Date_A_Live" class="link sort">Date A Live</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/15583/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-15583"><!----> <span>12</span> <!----></div></td> <td id="tags-15583" class="data tags"><div class="tags-15583"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-15583" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">11</td> <td class="data image"><a href="/anime/19163/Date_A_Live_II" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/5/76003.webp?s=444d7eee97b647083961b300b5ac353f" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/19163/Date_A_Live_II" class="link sort">Date A Live II</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/19163/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-19163"><!----> <span>10</span> <!----></div></td> <td id="tags-19163" class="data tags"><div class="tags-19163"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-19163" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">12</td> <td class="data image"><a href="/anime/36633/Date_A_Live_III" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1055/100468.webp?s=1235707ecb1cf173007123ab6ad30bd2" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/36633/Date_A_Live_III" class="link sort">Date A Live III</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/36633/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-36633"><!----> <span>12</span> <!----></div></td> <td id="tags-36633" class="data tags"><div class="tags-36633"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-36633" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">13</td> <td class="data image"><a href="/anime/32901/Eromanga-sensei" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/2/86468.webp?s=1acd9214c37f11ab1826866e88288dae" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/32901/Eromanga-sensei" class="link sort">Eromanga-sensei</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/32901/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-7">
      7
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-32901"><!----> <span>12</span> <!----></div></td> <td id="tags-32901" class="data tags"><div class="tags-32901"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-32901" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">14</td> <td class="data image"><a href="/anime/38816/Hello_World" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1147/112650.webp?s=657b2bbf056d188066ee7b007b5965ba" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/38816/Hello_World" class="link sort">Hello World</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/38816/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-38816"><!----> <span>1</span> <!----></div></td> <td id="tags-38816" class="data tags"><div class="tags-38816"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-38816" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">15</td> <td class="data image"><a href="/anime/12189/Hyouka" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/13/50521.webp?s=2d99155033e711171759b38be93ed9e9" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/12189/Hyouka" class="link sort">Hyouka</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/12189/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-12189"><!----> <span>22</span> <!----></div></td> <td id="tags-12189" class="data tags"><div class="tags-12189"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-12189" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">16</td> <td class="data image"><a href="/anime/11013/Inu_x_Boku_SS" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/12/35893.webp?s=11b023de1584cfaea8a8ddbe3ff4a51f" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/11013/Inu_x_Boku_SS" class="link sort">Inu x Boku SS</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/11013/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-7">
      7
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-11013"><!----> <span>12</span> <!----></div></td> <td id="tags-11013" class="data tags"><div class="tags-11013"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-11013" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">17</td> <td class="data image"><a href="/anime/39534/Jibaku_Shounen_Hanako-kun" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1050/111687.webp?s=273bf9fa8a28f603c5676e70618bae5c" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/39534/Jibaku_Shounen_Hanako-kun" class="link sort">Jibaku Shounen Hanako-kun</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/39534/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-39534"><!----> <span>12</span> <!----></div></td> <td id="tags-39534" class="data tags"><div class="tags-39534"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-39534" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">18</td> <td class="data image"><a href="/anime/37999/Kaguya-sama_wa_Kokurasetai__Tensai-tachi_no_Renai_Zunousen" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1295/106551.webp?s=e8f21e0d4f9fface4732110cded6dfba" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/37999/Kaguya-sama_wa_Kokurasetai__Tensai-tachi_no_Renai_Zunousen" class="link sort">Kaguya-sama wa Kokurasetai: Tensai-tachi no Renai Zunousen</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/37999/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-37999"><!----> <span>12</span> <!----></div></td> <td id="tags-37999" class="data tags"><div class="tags-37999"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-37999" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">19</td> <td class="data image"><a href="/anime/40591/Kaguya-sama_wa_Kokurasetai__Tensai-tachi_no_Renai_Zunousen" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1764/106659.webp?s=de59272166878f4af3216bf8223ee59f" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/40591/Kaguya-sama_wa_Kokurasetai__Tensai-tachi_no_Renai_Zunousen" class="link sort">Kaguya-sama wa Kokurasetai?: Tensai-tachi no Renai Zunousen</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/40591/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-40591"><!----> <span>12</span> <!----></div></td> <td id="tags-40591" class="data tags"><div class="tags-40591"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-40591" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">20</td> <td class="data image"><a href="/anime/38000/Kimetsu_no_Yaiba" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1286/99889.webp?s=80563bc75983779bc1656cc40da08324" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/38000/Kimetsu_no_Yaiba" class="link sort">Kimetsu no Yaiba</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/38000/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-38000"><!----> <span>26</span> <!----></div></td> <td id="tags-38000" class="data tags"><div class="tags-38000"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-38000" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">21</td> <td class="data image"><a href="/anime/32281/Kimi_no_Na_wa" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/5/87048.webp?s=1113e6e8f2c4f1b51b5f9ffeda1ab334" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/32281/Kimi_no_Na_wa" class="link sort">Kimi no Na wa.</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/32281/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-32281"><!----> <span>1</span> <!----></div></td> <td id="tags-32281" class="data tags"><div class="tags-32281"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-32281" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">22</td> <td class="data image"><a href="/anime/36098/Kimi_no_Suizou_wo_Tabetai" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1768/93291.webp?s=abfdffc6bcc3acb0dc08089fa01540f5" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/36098/Kimi_no_Suizou_wo_Tabetai" class="link sort">Kimi no Suizou wo Tabetai</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/36098/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-36098"><!----> <span>1</span> <!----></div></td> <td id="tags-36098" class="data tags"><div class="tags-36098"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-36098" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">23</td> <td class="data image"><a href="/anime/28851/Koe_no_Katachi" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1122/96435.webp?s=fcd0957788bb36d27f16d6414fbcd998" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/28851/Koe_no_Katachi" class="link sort">Koe no Katachi</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/28851/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-28851"><!----> <span>1</span> <!----></div></td> <td id="tags-28851" class="data tags"><div class="tags-28851"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-28851" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">24</td> <td class="data image"><a href="/anime/18153/Kyoukai_no_Kanata" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/3/85468.webp?s=bb4289715ef46c5f76e6bd3f78371a0c" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/18153/Kyoukai_no_Kanata" class="link sort">Kyoukai no Kanata</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/18153/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-18153"><!----> <span>12</span> <!----></div></td> <td id="tags-18153" class="data tags"><div class="tags-18153"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-18153" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">25</td> <td class="data image"><a href="/anime/36266/Mahou_Shoujo_Site" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1720/95064.webp?s=50e97f4a93ad80b716fa5d6629ee64a8" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/36266/Mahou_Shoujo_Site" class="link sort">Mahou Shoujo Site</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/36266/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-36266"><!----> <span>12</span> <!----></div></td> <td id="tags-36266" class="data tags"><div class="tags-36266"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-36266" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">26</td> <td class="data image"><a href="/anime/35946/Nanatsu_no_Taizai_Movie_1__Tenkuu_no_Torawarebito" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1444/91899.webp?s=23945f07fa1c8d0eb971b6086b6a60a6" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/35946/Nanatsu_no_Taizai_Movie_1__Tenkuu_no_Torawarebito" class="link sort">Nanatsu no Taizai Movie 1: Tenkuu no Torawarebito</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/35946/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-35946"><!----> <span>1</span> <!----></div></td> <td id="tags-35946" class="data tags"><div class="tags-35946"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-35946" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">27</td> <td class="data image"><a href="/anime/38483/Ore_wo_Suki_nano_wa_Omae_dake_ka_yo" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1348/102797.webp?s=4beb7f5a21f59238be149375d52b8f06" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/38483/Ore_wo_Suki_nano_wa_Omae_dake_ka_yo" class="link sort">Ore wo Suki nano wa Omae dake ka yo</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/38483/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-6">
      6
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-38483"><!----> <span>12</span> <!----></div></td> <td id="tags-38483" class="data tags"><div class="tags-38483"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-38483" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">28</td> <td class="data image"><a href="/anime/27775/Plastic_Memories" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/4/72750.webp?s=705a785eef6d496610162cce509c8166" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/27775/Plastic_Memories" class="link sort">Plastic Memories</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/27775/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-27775"><!----> <span>13</span> <!----></div></td> <td id="tags-27775" class="data tags"><div class="tags-27775"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-27775" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">29</td> <td class="data image"><a href="/anime/31240/Re_Zero_kara_Hajimeru_Isekai_Seikatsu" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/11/79410.webp?s=81186a65fb6c2922eb29a5883f453028" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/31240/Re_Zero_kara_Hajimeru_Isekai_Seikatsu" class="link sort">Re:Zero kara Hajimeru Isekai Seikatsu</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/31240/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-8">
      8
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-31240"><!----> <span>25</span> <!----></div></td> <td id="tags-31240" class="data tags"><div class="tags-31240"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-31240" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">30</td> <td class="data image"><a href="/anime/23273/Shigatsu_wa_Kimi_no_Uso" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/3/67177.webp?s=b755623c4ba20e090cafdc9534a983ba" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/23273/Shigatsu_wa_Kimi_no_Uso" class="link sort">Shigatsu wa Kimi no Uso</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/23273/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-7">
      7
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-23273"><!----> <span>22</span> <!----></div></td> <td id="tags-23273" class="data tags"><div class="tags-23273"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-23273" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">31</td> <td class="data image"><a href="/anime/9253/Steins_Gate" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/5/73199.webp?s=92f4a721cdca80834c23511ecd0c422f" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/9253/Steins_Gate" class="link sort">Steins;Gate</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/9253/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-9253"><!----> <span>24</span> <!----></div></td> <td id="tags-9253" class="data tags"><div class="tags-9253"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-9253" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">32</td> <td class="data image"><a href="/anime/30484/Steins_Gate_0" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1375/93521.webp?s=1fcdfe6e7ce79dc601402b0e78f41f85" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/30484/Steins_Gate_0" class="link sort">Steins;Gate 0</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/30484/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-30484"><!----> <span>23</span> <!----></div></td> <td id="tags-30484" class="data tags"><div class="tags-30484"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-30484" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">33</td> <td class="data image"><a href="/anime/11577/Steins_Gate_Movie__Fuka_Ryouiki_no_Déjà_vu" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/3/50317.webp?s=a1a58a222a5a9788ad3a7e833e2723b9" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/11577/Steins_Gate_Movie__Fuka_Ryouiki_no_Déjà_vu" class="link sort">Steins;Gate Movie: Fuka Ryouiki no Déjà vu</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/11577/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-11577"><!----> <span>1</span> <!----></div></td> <td id="tags-11577" class="data tags"><div class="tags-11577"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-11577" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">34</td> <td class="data image"><a href="/anime/38826/Tenki_no_Ko" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1880/101146.webp?s=f396147450a37aed616b18dd491a4665" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/38826/Tenki_no_Ko" class="link sort">Tenki no Ko</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/38826/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-7">
      7
    </span></a> <!----></td> <td class="data type">
  Movie
</td> <td class="data progress"><div class="progress-38826"><!----> <span>1</span> <!----></div></td> <td id="tags-38826" class="data tags"><div class="tags-38826"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-38826" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">35</td> <td class="data image"><a href="/anime/33352/Violet_Evergarden" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/1795/95088.webp?s=130db066e213bb06cee3bde429929ab5" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/33352/Violet_Evergarden" class="link sort">Violet Evergarden</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/33352/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-9">
      9
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-33352"><!----> <span>13</span> <!----></div></td> <td id="tags-33352" class="data tags"><div class="tags-33352"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-33352" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody><tbody class="list-item"><tr class="list-table-data"><td class="data status completed"></td> <td class="data number">36</td> <td class="data image"><a href="/anime/8861/Yosuga_no_Sora__In_Solitude_Where_We_Are_Least_Alone" class="link sort"><img src="https://cdn.myanimelist.net/r/96x136/images/anime/5/76216.webp?s=e75af39b3a3272841146f12493390153" class="hover-info image"></a></td> <td class="data title clearfix"><a href="/anime/8861/Yosuga_no_Sora__In_Solitude_Where_We_Are_Least_Alone" class="link sort">Yosuga no Sora: In Solitude, Where We Are Least Alone.</a> <!----> <span class="rewatching" style="display: none;">
    
  </span> <span class="content-status" style="display: none;">
    
  </span> <div class="add-edit-more"><span class="edit"><a href="/ownlist/anime/8861/edit?hideLayout" class="List_LightBox">Edit</a></span> <!---->
    -
    <span class="more"><a href="#">More</a></span></div></td> <td class="data score"><a href="#" class="link"><span class="score-label score-7">
      7
    </span></a> <!----></td> <td class="data type">
  TV
</td> <td class="data progress"><div class="progress-8861"><!----> <span>12</span> <!----></div></td> <td id="tags-8861" class="data tags"><div class="tags-8861"></div> <!----> <a href="#" class="edit">Edit</a></td></tr> <tr id="more-8861" class="more-info"><td colspan="8" class="more-content"></td></tr></tbody>
</table>
<script src="/config/locJS/tes.js"></script>
</body>	
</html>