<!DOCTYPE html>
<html lang="id">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/config/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js" integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="/config/jquery/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/config/ligth.css">
    <link rel="stylesheet" href="/config/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Deffelovers | Tools</title>
</head>

<body style="background-color: #ebebeb">
    <nav class="fixed-top navbar navbar-expand-lg navbar-light shadow-sm" style="background-color: white;">
        <div class="container">
            <a class="navbar-brand fw-bold">Deffelovers | Tools</a>
            <button id="btn" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#menu" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="menu">
                <ul class="myBar ms-auto myNav">
                    <li class="nav-item"><a class="nav-link cl" href="/" title="Beranda"><i class="bi bi-house"></i></a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" title="Lainya"><i class="bi bi-person"></i></a>
                        <ul class="dropdown-menu dropdown-menu-ligth" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li><a class="nav-link f-15" href="https://www.facebook.com/nazal.zikry/" target="_blank"><i class="bi bi-facebook"></i> Facebook</a></li>
                            <li><a class="nav-link f-15" href="https://www.instagram.com/deffelovers_31/" target="_blank"><i class="bi bi-instagram"></i> Instagram</a></li>
                            <li><a class="nav-link f-15" href="https://github.com/deffelovers/" target="_blank"><i class="bi bi-github"></i> Github</a></li><li><h6 class="dropdown-header">Spesial:</h6></li>
                            <li><a class="nav-link f-15" href="/mal">My Anime List</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link cl" href="/projects" title="Proyek"><i class="bi bi-box-seam"></i></a></li>
                    <li class="nav-item"><a class="nav-link cl active" href="/tools" title="Peralatan"><i class="bi bi-gear"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" id="ctn" style="margin-top: 4.5rem;">
        <div class="row" style="padding-bottom: 20px;">
            <div class="col">
                <div id="tools">
                    <div class="col hero-ctn">
                        <img class="prof" src="/config/media/ico/tools.png" alt="Deffelvoers">
                        <h4 class="text-white">Pelaratan</h4>
                        <li class="text-white text-center">Pelaratan akan di perbaharui di hari mendatang.</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col">
                <div class="card shadow-sm">
                    <h5 class="card-header">URL / Text to QR Code</h5>
                    <div class="card-body cr-bd">
                        <div class="row">
                            <div class="col">
                                <h3>Masukan input:</h3>
                                <div class="input-group mb-3">
                                    <button id="qr-btn" class="btn btn-outline-primary" type="submit"><i class="bi bi-hammer"></i></button>
                                    <input id="qr-input" type="text" class="form-control" placeholder="Jenis text / url">
                                </div>
                            </div>
                        </div>
                        <div class="cd-ct">
                            <img class="img-thumbnail" src="" alt="qr-code">
                            <div class="row cl-row">
                                <a id="dl" class="col-4 btn btn-primary disabled" href="#" download="qr-code"><i class="bi bi-download"></i></a>        
                                <a id="cl" class="col-4 btn btn-danger disabled" href="#" download="qr-code"><i class="bi bi-clipboard"></i></a>        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col">
                <div class="card shadow-sm">
                    <h5 class="card-header">Anime finder</h5>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <label class="form-label">Masukan judul Anime:</label>
                                <div class="input-group mb-3">
                                    <button id="mal-btn0" class="btn btn-outline-primary"><i class="bi bi-search"></i></button>
                                    <button id="mal-btn1" class="btn btn-outline-primary d-none" type="submit" disabled><span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span></button>
                                    <input id="mal-s" type="text" class="form-control">
                                </div>
                                <div class="form-text">Data di ambil dari API My Anime List.</div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="hr">
                                <hr>
                                <div id="mal-r" class="row row-cols-1 row-cols-md-5 g-4">
                                    <div class="col">
                                        <div class="card h-100 view" style="overflow-y: hidden;">
                                            <img src="/config/media/bg/sample0.jpg" class="card-img-top" alt="...">
                                            <div class="my-card text-white">
                                                <h6 class="card-title">judul</h6>
                                                <hr>
                                                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-bottom: 20px;">
            <div class="col">
                <div class="card shadow-sm">
                    <h5 class="card-header">Wikipedia</h5>
                    <div class="card-body">
                        <h5 class="card-title">Special title treatment</h5>
                        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cl-fo bg-light">
        <div class="container">
            <div class="col text-center text-muted">Dibuat dengan <i class="bi bi-heart-fill text-danger"></i> oleh <a href="https://www.facebook.com/nazal.zikry/" target="_blank" class="text-muted fw-bold">Deffelovers</a></div>
        </div>
    </div>
    <script src="/config/locJS/tls-script.js"></script>
</body>
</html>